.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card__img {
    padding-top: 11px;
    display: flex;
    /* Чтобы не растягивался */
    align-items: start;
    height: 140px;
    justify-content: center;
    background-color: #b8b8b8;
}
.card__info {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
}

.card__tag {
    font-weight: 300;
    font-size: 10px;
    color: #dedede;
    margin-bottom: 3px;
}
.card__name {
    font-weight: 600;
    font-size: 15px;
    line-height: 104%;
    margin-bottom: 8px;
}
.card__author {
    font-weight: 400;
    font-size: 10px;
}
.card__footer {
    margin-top: auto;
}
.card__btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fafafa;
    border-radius: 6px;
    padding: 6px 8px;
    width: 36px;
    height: 32px;
    background-color: inherit;
    cursor: pointer;
}
.card__btn-add_favorites {
    background-color: var(--color-white);
}
